.alertBanner {
  align-items: center;
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
  display: flex;
  font-size: var(--font-size-md);
  height: 2.5rem;
  justify-content: center;
  left: 0;
  padding: var(--space-md);
  position: fixed;
  text-align: center;
  top: 0;
  transform: translateY(-2.5rem);
  transition: transform 0.5s ease;
  width: 100%;
  z-index: 1000;
}

.error {
  background-color: var(--error-color-transparent);
}

.success {
  background-color: var(--primary-color-transparent);
}

.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-2.5rem);
}
