{
  "extends": ["airbnb", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    } 
  },
  "rules": {
    "max-len": ["error", { "code": 140 }],
    "import/no-extraneous-dependencies": ["off"],
    "import/prefer-default-export": ["off", { "allowSingleExports": true }],
    "react/function-component-definition": ["off"],
    "jsx-a11y/label-has-associated-control": ["off"],
    "no-promise-executor-return": ["off"],
    "import/no-named-as-default": ["off"],
    "arrow-body-style": ["off"],
    "react/require-default-props": ["off"],
    "linebreak-style":  ["error", "windows"]
  }
}
