.pill {
  background-color: var(--primary100);
  border-radius: var(--s3);
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: var(--s1) var(--s3);
  color: var(--white);
}

.fire {
  background-color: #EA7A3C;
}

.water {
  background-color: #539AE2;
}

.grass {
  background-color: #71C558;
}

.bug {
  background-color: #94BC4A;
}

.flying {
  background-color: #7DA6DE;
}

.poison {
  background-color: #B468B7;
}

.normal {
  background-color: #AAB09F;
}
