.table {
}

.table tr {
  background: #ccc;
}

.table td,
th {
  padding: var(--space-sm) var(--space-xs);
}
.table tr:nth-child(even) {
  background: #f8f8f8;
}

.table td,
.table th {
  color: var(--black-color);
}
