.header {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  height: var(--header-size);
  justify-content: space-between;
  padding: var(--space-md);
  position: fixed;
  top: 0;
  width: 100%;
}
