.rocket {
    width: 40px;
    height: 300px;
    background: linear-gradient(to right, #bbb, white, #f1f1f1);
    box-shadow: 0 -5px 0 #444, inset 0 -30px 35px -5px rgba(0, 0, 0, 0.6);
    border-bottom: 10px solid #444;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    will-change: transform;
}

.rocket.takeoff {
    animation: takeoff 4s cubic-bezier(1,0,.94,.57) forwards;
}
  
.rocket.landing {
    animation: landing 4s cubic-bezier(.57,.94,0,1) forwards;
}

@keyframes takeoff {
    100% {
      transform: translate(0, calc(-400vh - 150px));
    }
}
  
@keyframes landing {
    0% {
      transform: translate(0, calc(-400vh - 150px));
    }
    100% {
      transform: translate(0, 0);
    }
}
  