#login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    .paper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}