@import 'reset';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

html,
body {
  background-color: var(--c-neutralDark);
  color: var(--c-white);
  font-family: 'Noto Sans JP', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  height: 100%;
}

#root {
  height: inherit;
}
