---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import AsteroidListWithQuery from "../components/AsteroidListWithQuery";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Browse All Asteroids - ${SITE_TITLE}`}
      description="Browse the complete catalog of Near Earth Objects tracked by NASA"
    />
  </head>
  <body>
    <Header />
    <main>
      <AsteroidListWithQuery client:load />
    </main>
  </body>
</html>
