---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import AsteroidList from "../components/AsteroidList";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Browse All Asteroids - ${SITE_TITLE}`}
      description="Browse the complete catalog of Near Earth Objects tracked by NASA"
    />
  </head>
  <body>
    <Header />
    <main>
      <h1>Browse All Asteroids</h1>
      <p>Browse the complete catalog of Near Earth Objects tracked by NASA</p>
      <AsteroidList client:load />
    </main>
  </body>
</html>
