.app {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 550px;
  max-height: 100vh;
  padding: 1rem;
}

.header {
  border-bottom: 1px dotted white;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.title {
  margin: 0;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

.definition {
  font-size: 0.75rem;
  margin: 0;
  text-align: center;
}
