html, body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex: 1;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
}

header, footer, .card-data {
  transition: background 0.5s ease, color 0.5s ease;
  height: 100%;
}

.material-icon {
  transition: color 0.5s ease !important
}