.card {
  aspect-ratio: 1;
  background-color: var(--c-neutralDarkOpaque);
  display: flex;
  min-width: 100px;
  max-width: 250px;
  position: relative;
  width: 24%;

  &:hover,
  &:focus-visible {
    outline: 4px solid var(--c-primary);
    & span {
      color: var(--c-primary);
    }
  }

  & span {
    top: 50%;
    font-size: 24px;
    left: 0;
    padding: 8px;
    position: absolute;
    right: 0;
    text-align: center;
    transform: translateY(-50%);

    @media (max-width: 760px) {
      font-size: 16px;
    }
  }

  @media (max-width: 760px) {
    width: 40%;
  }
}
