.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  box-shadow: var(--shadow100);
  border-radius: var(--s1);
  border: 1px solid var(--content00);
}

.image {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  object-fit: contain;
  padding: var(--s2);
  width: 100%;
  background-color: var(--background200);
}

.content {
  width: 100%;
  padding: var(--s3) var(--s4);
}

.name {
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
}

.types {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s3);
  margin: var(--s2) 0;
}

.pill {
  background-color: var(--primary100);
  border-radius: var(--s3);
  font-size: .75rem;
  font-weight: 300;
  padding: var(--s1) var(--s3);
}
