:root {
  --background100: #FFFFFF;
  --background200: #F6F7F7;
  --background300: #293831;
  --content100: #293831;
  --content200: #4A524E;
  --content300: #F6F7F7;
  --headerHeight: 68px;
  --maxContainerWidth: 1440px;
  --primary100: #C5EFCB;
  --primary200: #C6DEC6;
  --primary300: #A9C5A0;
  --s1: 4px;
  --s2: 8px;
  --s3: 16px;
  --s4: 24px;
  --s5: 32px;
  --s6: 48px;
  --s7: 64px;
  --s8: 80px;
  --shadow100: 0 4px 20px 0 rgba(41, 56, 49, 0.15);
  --shadow200: 0 4px 20px 0 rgba(41, 56, 49, 0.15);
}
